################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/ServerSideWS/.vs/ServerSideWS/v15/Server/sqlite3/db.lock
